# H1: Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- python
- R
- scala

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. julia
4. scala

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. keras
4. metplotlib
5. seaborn

|Data Science Tools|
--------------------
|JupyterLab|
|Vscode|
|RStudio|

# H3: Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
# This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

In [ ]:
#This will convert 200 minutes to hours by diving by 60.

In [3]:
200/60

3.3333333333333335

# H2: Author
Njoku Chinedu